html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.clip-path-hero {
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.shiny-text {
  background: linear-gradient(
    120deg,
    #f45b69 0%,
    #ff8fa3 25%,
    #ffffff 50%, /* bright streak highlight */
    #ff8fa3 75%,
    #d43f4d 100%
  );
  background-size: 300% auto; /* bigger movement */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 5s linear infinite; /* faster */
}

.shiny-text-dark {
  background: linear-gradient(
    120deg,
    #111 0%,
    #444 25%,
    #ffffff 50%, /* metallic shine streak */
    #444 75%,
    #111 100%
  );
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 300% center;
  }
  100% {
    background-position: -300% center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
